*{
 margin: 0  0;
 padding: 0  0;
 box-sizing: border-box;
}
 
.logincontainer{
width: 100vw;
height: 100vh;
background-color: rgb(255, 255, 255);
display: flex;
justify-content: center;
align-items: center;
}
.login-form{
background-color: rgb(0, 51, 57);
 width: 100%;
max-width: 40vw;
/* width: 220px; */
display: flex;
/* justify-content: center; */
align-items: center;
flex-direction: column;
/* padding-top: 40px; */
padding: 60px 40px;
/* box-shadow: 13px 14px 7px 3px #0d276f; */
transition: 1s;
} 
/* .login-form:hover{
box-shadow: -13px -14px 7px 3px #0d276f;
} */
.login-form h1{
color: #ffff;
padding-bottom: 20px;
font-size: 3rem;
} 
.input-group {
padding:7px;

}
.input-group input{
border: 2px solid rgb(255, 255, 255);
padding: 10px;
padding: 10px 30px;
border-radius: 50px;
text-align: center;
background-color: transparent;
color: #ffff; 
margin: auto;
display: block;
transition: 0.5s;

/* animation: inputblur 6s linear infinite; */
}
#username, #password{
box-shadow:     0px 4px 4px 0px #ffffff;
}
input[type="submit"]{
padding: 10px 30px;
text-align: center;
margin: auto;
margin-top: 10px;
display: block;
border: 2px solid rgb(0, 195, 117);
}
.input-group input::placeholder{
color: rgb(255, 255, 255);
}
.input-group input:hover::placeholder {
 color: rgb(141, 240, 255);
}
 
 
input[type="submit"]:hover{
background-color: rgb(0, 195, 117);
}

/* @keyframes inputblur{
0%{
 box-shadow: 1px 0px 0px rgb(28, 18, 111)  ;
}
50%{
 box-shadow: 1px 0px 10px rgb(28, 18, 111)   ; 
}
100%{
 box-shadow: 1px 0px 0px rgb(28, 18, 111)   ;
}
} */
@media only screen and (max-width: 600px) {
 .login-form{
  width: 100%;
  max-width: 93vw;
 } 
}